<!--此ejs负责主要显示区域，即id为main的section元素-->
<!-- 主页面显示 -->  
<% if (pagination == 2){ %>
  <!--遍历本页文章，引入文章article ejs布局-->
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
 
<!--内页显示，archive页面就是如下显示-->  
<% } else { %>
  <% var last; %>
  <!--each方法是ejs方法吗？-->
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <!--存档内容显示-->
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>

  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>

<!--分页显示-->
<% if (page.total > 1){ %>
  <!--__是hexo用来支持国际化的，获取国际化文件夹languages下的我在_config.yml中配置的zh-CN(.yml)里的值-->
  <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
  <nav id="page-nav">
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>