<!--文章ejs模块，文章显示区域-->
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <!--显示日期和分类 -->
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <!--显示相册-->
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <!--显示文章标题-->
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <!--文章内容-->
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <!--如果有more的注释，表示之后的文章内容不显示-->
        <%- post.excerpt %>
        <!--阅读更多的链接，hexo支持html的注释里仅写more表示阅读更多-->
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <!--显示全部内容-->
        <%- post.content %>
      <% } %>

    </div>

    <!--文章底部-->
    <footer class="article-footer">
      <!--永久链接-->
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <!--disqus评论插件-->
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <!--显示标签列表-->
      <%- partial('post/tag') %>
    </footer>
    
  </div>
  <!--如果不是index页即内页，显示文章导航，上一篇或下一篇文章链接-->
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<!--显示评论区域-->
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>