<!-- 每个布局模板默认使用layout ejs ，用于引入重复的布局部分 -->
<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <!-- 头部 -->
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <!--这个变量应该是hexo提供的，下面表示一个其他ejs布局将被包含融合进来-->
        <section id="main"><%- body %></section>
        <!--侧边栏-->
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <!-- 底部：显示日期，作者或标题 -->
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
     <!--页面头部导航菜单-->
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
     <!--这里引入了disqus评论区-->
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>